<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div style="width: 100%">
        <img src="../../../../public/mercadolibre/motonet1.gif" alt="motonet1" style="width: 100%;">
    </div>
    <div style="width: 100%">
        <img src="../../../../public/mercadolibre/motonet2.jpg" alt="motonet1" style="width: 100%;">
    </div>
    <div style="width: 100%">
        <img src="../../../../public/mercadolibre/motonet3.gif" alt="motonet1" style="width: 100%;">
    </div>
    <div style="width: 100%">
        <img src="../../../../public/mercadolibre/motonet4.jpg" alt="motonet1" style="width: 100%;">
    </div>
</body>
</html>