.punica-entry-slider .flex-direction-nav a,
.punica-home-slider .flex-direction-nav a, 
.punica-featured-news-slider .flex-direction-nav a, 
.punica-flex-shop-slider .flex-direction-nav a, 
.punica-entry-box-slider .flex-direction-nav a,
.punica-shop-slider-widget .owl-theme .owl-controls .owl-buttons div,
.punica-slider-carousel-widget .owl-theme .owl-controls .owl-buttons div,
.related-post .owl-theme .owl-controls .owl-buttons div {
	background: url(../images/background/opacity-bg-1.png) repeat 0 0;
}
.punica-entry-slider .flex-direction-nav a:hover,
.punica-home-slider .flex-direction-nav a:hover, 
.punica-featured-news-slider .flex-direction-nav a:hover, 
.punica-flex-shop-slider .flex-direction-nav a:hover, 
.punica-entry-box-slider .flex-direction-nav a:hover,
.punica-shop-slider-widget .owl-theme .owl-controls .owl-buttons div:hover,
.punica-slider-carousel-widget .owl-theme .owl-controls .owl-buttons div:hover,
.related-post .owl-theme .owl-controls .owl-buttons div:hover {
	background: url(../images/background/opacity-bg-2.png) repeat 0 0;
}
.punica-home-slider ul li .flex-caption,
#punica-main-content .punica-shop-slider-widget .entry-content .entry-title, 
#punica-main-content .punica-featured-shop-widget .older-post li .entry-content .entry-title,
.punica-flex-shop-slider ul li .entry-content,
.related-post .entry-item .entry-content,
.punica-slider-carousel .item .entry-item .entry-content {
	background: url(../images/background/opacity-bg-3.png) repeat 0 0;
}
.entry-icon {
	background: url(../images/background/opacity-bg-4.png) repeat 0 0;
}

.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66666666666666%;
}
.col-md-10 {
	width: 83.33333333333334%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66666666666666%;
}
.col-md-7 {
	width: 58.333333333333336%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66666666666667%;
}
.col-md-4 {
	width: 33.33333333333333%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.666666666666664%;
}
.col-md-1 {
	width: 8.333333333333332%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
	float: left;
}