body{
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400 ;
}

.dropdown-menu{
    font-size: 13px;
}


.navbar-default .navbar-brand
{
    color: #FFFFFF;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #F5F5F5;
}


#page-wrapper {
    position: relative;
    background-color: #e4e9f0;
    color: #444444;
    padding-top: 1%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bar{
    background-color: #1ab394;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sidebar
{
    background-color: #ffffff;
    border-color: #0d524c;
}

a{
    color: #979797;
}

.fa{
    color:#000000;
}
.page-header{
    color: #ffffff;
    text-shadow: 2px 2px grey;

}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;

    z-index:1032;
}


.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}