.image-preview-input,.image-crop-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file],.image-crop-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title,.image-crop-preview-input-title {
    margin-left:2px;
}


.image-crop-preview+.popover{
    left:20px;
    max-width:800px;
    max-height: 300px;
    overflow:auto;
}