<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Futbol Company. Profesionales en Futbol Amaterus.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/bootstrap.css" media="screen" />
        <link rel="stylesheet" href="css/font-awesome.css" media="all" />
        <link rel="stylesheet" href="css/superfish.css" media="all" />
        <link rel="stylesheet" href="css/owl.carousel.css" media="all" />
        <link rel="stylesheet" href="css/owl.theme.css" media="all" />
        <link rel="stylesheet" href="css/flexslider.css" media="all" />
        <link rel="stylesheet" href="css/colorbox.css" media="all" />
        <link rel="stylesheet" href="css/color-options.css" media="all" />
        <link rel="stylesheet" href="style.css">
        <link href="css/responsive.css" rel="stylesheet">
        <script src="js/modernizr.custom.js"></script>


        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

        <!--[if lt IE 9]>
            <script src="js/respond.min.js"></script>
            <link rel="stylesheet" href="css/ie.css" type="text/css" media="all" />
        <![endif]-->

        <!-- Style -->
        <link rel="stylesheet" href="css/skin/black.css" type="text/css" id="colors" />
        
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600' rel='stylesheet' type='text/css'>

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    </head>
    
<body class="punica-header-3 punica-footer-3 punica-home-1">



<div class="punica-header"><!-- punica-header-top --><!-- punica-header-middle -->

    <div class="punica-header-bottom">

        <div class="wrapper clearfix">
            
            <nav id="main-nav" class="pull-left">
             
              <ul id="main-menu" class="clearfix">
                <li class="current-menu-item">
                  <a href="#"><img src="images/logo-white.png"></a></li>
                <li class="current-menu-item">
                        <a href="index.html">Home</a></li>
                    <li>
                        <a href="reglamento.html">Reglamento</a></li>
                    <li>
                        <a href="noticias.html">Noticias</a></li>
                    <li>
                        <a href="sedes.html">Sedes</a></li>
                    <li><a href="galeria.html">Galeria de Fotos</a></li>
                    <li><a href="inscripcion.html">Inscripcion</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                </ul>
                <!-- main-menu -->

                <i class='fa fa-align-justify'></i>
                
                <div class="mobile-menu-wrapper">
                    <ul id="mobile-menu">
                        <li class="current-menu-item">
                        <a href="index.html">Home</a></li>
                    
                    <li>
                        <a href="reglamento.html">Reglamento</a></li>
                    <li>
                        <a href="sedes.html">Sedes</a></li>
                    <li><a href="galeria.html">Galeria de Fotos</a></li>
                    <li><a href="inscripcion.html">Inscripcion</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                    </ul>
                    <!-- mobile-menu -->
                </div>
                <!-- mobile-menu-wrapper -->

            </nav>
            <!-- main-nav -->

            
          <!--search-box-->

        </div>
        <!-- wrapper -->
        
    </div>
    <!-- punica-header-bottom -->

</div>
<!-- logos torneo -->

<div class="punica-header"><!-- punica-header-top --><!-- punica-header-middle -->

    <div class="punica-header-bottom">

        <div class="wrapper clearfix">
            
            <nav id="main-nav" class="pull-left">
             
              <ul id="main-menu" class="clearfix">
                <li class="current-menu-item"></li>
                <li class="current-menu-item">
                        <a href="principal.html"><img src="torn/btn1.png" width="200" height="59" alt=""/></a></li>
                    <li>
                        <a href="#"><img src="torn/btn2.png" width="200" height="59" alt=""/></a></li>
                    <li>
                        <a href="#"><img src="torn/btn3.png" width="200" height="59" alt=""/></a></li>
                    <li>
                        <a href="#"><img src="torn/btn4.png" width="200" height="59" alt=""/></a> </li>
                    <li><a href="#"><img src="torn/btn5.png" width="200" height="59" alt=""/></a></li>
                    
              </ul>
                <!-- main-menu -->

                <i class='fa fa-align-justify'></i>
                
                <div class="mobile-menu-wrapper">
                    <ul id="mobile-menu">
                        <li><a href="#"><img src="torn/btn1.png" width="200" height="59" alt=""/></a></li>
                        <li><a href="#"><img src="torn/btn2.png" width="200" height="59" alt=""/></a></li>
                        <li><a href="#"><img src="torn/btn3.png" width="200" height="59" alt=""/></a></li>
                        <li><a href="#"><img src="torn/btn4.png" width="200" height="59" alt=""/></a></li>
                        <li><a href="#"><img src="torn/btn5.png" width="200" height="59" alt=""/></a></li>
                        
                    </ul>
                    <!-- mobile-menu -->
                </div>
                <!-- mobile-menu-wrapper -->

            </nav>
            <!-- main-nav -->

            
          <!--search-box-->

        </div>
        <!-- wrapper -->
        
    </div>
    <!-- punica-header-bottom -->

</div>
<!-- punica-header -->

<div id="punica-main-content">
    
    <div class="wrapper clearfix">

        <div class="center-col">
            
            <div class="breadcrumb clearfix"><span class="widget-title clearfix"><img src="images/tch.png" width="718" height="59" alt=""/></span><span class="bottom-line"></span>
            </div>
            <!-- breadcrumb -->

            <div class="elements-box">

                <div class="row"><!-- col-md-4 --><!-- col-md-8 -->
                  <p><img src="images/jug.png" width="600" height="70" alt=""/></p>
                  <p>&nbsp;</p>
                </div>
                <table width="100%" border="0">
                  <tbody>
                    <tr>
                      <td width="18%"><img src="images/fabian.jpg" width="180" height="195" alt=""/></td>
                      <td width="8%">&nbsp;</td>
                      <td width="74%"><table width="100%">
                        <tbody>
                          <tr>
                            <td><h6 class="entry-title">Fabián Héctor Morales </h6>
                              <p>                              
                              <h6 class="entry-title">Categoría:
                                </p>
                              </h6></td>
                          </tr>
                          <tr>
                            <td>Bundesliga A</td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                          <tr>
                            <td height="9"><h6 class="entry-title">Observaciones:</h6></td>
                          </tr>
                          <tr>
                            <td>Tremenda actuación de  Fabián Morales  que con su golazo de cabeza  y la pegada exquisita de su pié derecho resultó fundamental&nbsp;3</td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </tbody>
                      </table></td>
                    </tr>
                  </tbody>
                </table>
                <p>&nbsp;</p>
                <p><img src="images/equipo_fecha.png" width="600" height="70" alt=""/></p>
                <table width="100%" border="0">
                  <tbody>
                    <tr>
                      <td width="18%"><img src="images/equipo1.jpg" width="450" height="302" alt=""/></td>
                    </tr>
                  </tbody>
                </table>
                <p>                
                <h6 class="entry-title">Equipo:</h6>
Fergashion
</p>
<p>
<h6 class="entry-title">Categoria:</h6>
Bundesliga A
</p>
<p>
<h6 class="entry-title">Nota:</h6>
</p>
<p>Tenía que ganar y ganó ante un difícil rival como  Cover que le venía pisando los talones. No dejó dudas, ganó, gustó y  goleó.</p>
<p>&nbsp;</p>
<p><img src="images/partido_fecha.png" width="600" height="70" alt=""/></p>
<h6 class="entry-title">Sara Goza SF vs Cavalino FC.</h6>
<p>&nbsp;</p>
<p> Todos esperaban este partido y no defraudaron. </p>
<p>Se mataron a goles. Un  ida y vuelta para el infarto. Cavalino FC sumó 3 puntos importantes y se afianza en el objetivo de salir  campeón. Jugando así va a ser difícil, bajarlo</p>
                <p>&nbsp;</p>
                <center><!-- row --></center>
                <!-- row --><!-- row --><!-- row -->

                <div class="row"></div>
                <!-- row --><!-- row --><!-- row --><!-- row --><!-- row --><!-- row -->

            </div>
            <!-- elements-box -->

        </div>
        <!-- center-col -->

        <div class="sidebar right-sidebar widget-area-5">
            
            <div class="widget widget_nav_menu">
                <h2 class="widget-title"><img src="images/f11.png" width="201" height="38" alt=""/></h2>
                <div class="menu-all-pages-container">
                  <ul class="menu" id="menu-all-pages">
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="destacado.html">Destacado de la Fecha</a></li>
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><b>LIGA TFC CHAMPIONS</b></li>
                  
                  <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="proxima_fecha.html">Proxima Fecha</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie A</a>
                           <ul class="sub-menu">
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="resultado.html">Posiciones y Resultados</a></li>
                       		 <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="fixture.html">Fixture</a></li>
                   			 <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="sancion.html">Sanciones</a></li>
                   			 <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="goleador.html"><b>Goleadores</b></a></li>
                       		 <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="fairplay.html">Fair Play</a></li>
                      </ul>
                    </li>
                    
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie B</a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><b>TORNEO LIGA TFC CHAMPIONS</b></a>
                        <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie B</a></li>
                          </ul>
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><b>TORNEO BUNDESLIGA</b></a>
                        <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie A</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie B</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie C</a></li>
                        </ul>     
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><b>TORNEO PREMIER LEAGUE</b></a>
                        <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie A</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie B</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie C</a></li>
                        </ul> 
                      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><b>TORNEO LEGA CALCIO</b></a>
                        <ul class="sub-menu">
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie A</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie B</a></li>
                                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Serie C</a></li>
                        </ul>
                        <br>
                  </ul>
                </div>
            </div>
            <!-- widget_nav_menu --><!-- punica-socials-link-widget --><!-- widget --><!-- punica-news-letter-widget --><!-- punica-adv-widget --><!-- punica-twitter-widget --><!-- punica-poll-widget -->

        </div>
        <!-- right-sidebar -->

        <div class="clear"></div>
        <!-- widget-area-6 -->

    </div>
    <!-- wrapper -->

</div>
<!-- punica-main-content -->

<footer class="punica-footer"><!-- punica-footer-top -->

    <div class="punica-footer-bottom">
        
        <div class="wrapper"><!-- punica-left-col --><!-- punica-right-col -->

            <div class="punica-end clearfix">
                <ul class="social-links clearfix">
                    <li><span>Seguinos a través de:</span></li>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                </ul>
                <!-- social-links -->
                <p id="copyright">Copyright &copy; 2015 . TheFutbolCompany.com - Designed By  <a href="http://www.navcoder.net" target="_blank">Navcoder.net</a></p>
            </div>
            
        </div>
        <!-- wrapper -->

    </div>
    <!-- punica-footer-bottom -->

</footer>
<!-- punica-footer -->

    
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/retina.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/colorswitch.js"></script>
    <script src="js/custom.js" charset="utf-8"></script>
    
</body>

</html>
