<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Futbol Company. Profesionales en Futbol Amaterus.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/bootstrap.css" media="screen" />
        <link rel="stylesheet" href="css/font-awesome.css" media="all" />
        <link rel="stylesheet" href="css/superfish.css" media="all" />
        <link rel="stylesheet" href="css/owl.carousel.css" media="all" />
        <link rel="stylesheet" href="css/owl.theme.css" media="all" />
        <link rel="stylesheet" href="css/flexslider.css" media="all" />
        <link rel="stylesheet" href="css/colorbox.css" media="all" />
        <link rel="stylesheet" href="css/color-options.css" media="all" />
        <link rel="stylesheet" href="style.css">
        <link href="css/responsive.css" rel="stylesheet">
        <script src="js/modernizr.custom.js"></script>


        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

        <!--[if lt IE 9]>
            <script src="js/respond.min.js"></script>
            <link rel="stylesheet" href="css/ie.css" type="text/css" media="all" />
        <![endif]-->

        <!-- Style -->
        <link rel="stylesheet" href="css/skin/black.css" type="text/css" id="colors" />
        
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600' rel='stylesheet' type='text/css'>

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    </head>
    
<body class="punica-header-3 punica-footer-3 punica-home-1">



<div class="punica-header"><!-- punica-header-top --><!-- punica-header-middle -->

    <div class="punica-header-bottom">

        <div class="wrapper clearfix">
            
            <nav id="main-nav" class="pull-left">
             
              <ul id="main-menu" class="clearfix">
                <li class="current-menu-item">
                  <a href="#"><img src="images/logo-white.png"></a></li>
                <li class="current-menu-item">
                        <a href="index.html">Home</a></li>
                    <li>
                        <a href="reglamento.html">Reglamento</a></li>
                    <li>
                        <a href="noticias.html">Noticias</a></li>
                    <li>
                        <a href="sedes.html">Sedes</a></li>
                    <li><a href="galeria.html">Galeria de Fotos</a></li>
                    <li><a href="inscripcion.html">Inscripcion</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                </ul>
                <!-- main-menu -->

                <i class='fa fa-align-justify'></i>
                
                <div class="mobile-menu-wrapper">
                    <ul id="mobile-menu">
                        <li class="current-menu-item">
                        <a href="index.html">Home</a></li>
                    <li>
                        <a href="reglamento.html">Reglamento</a></li>
                    <li>
                        <a href="reglamento.html">Reglamento</a></li>
                    <li>
                        <a href="sedes.html">Sedes</a></li>
                    <li><a href="galeria.html">Galeria de Fotos</a></li>
                    <li><a href="inscripcion.html">Inscripcion</a></li>
                    <li><a href="contactanos.html">Contactanos</a></li>
                    </ul>
                    <!-- mobile-menu -->
                </div>
                <!-- mobile-menu-wrapper -->

            </nav>
            <!-- main-nav -->

            
          <!--search-box-->

        </div>
        <!-- wrapper -->
        
    </div>
    <!-- punica-header-bottom -->

</div>
<!-- logos torneo -->

<div class="punica-header"><!-- punica-header-top --><!-- punica-header-middle -->

    <div class="punica-header-bottom">

        <div class="wrapper clearfix">
            
            <nav id="main-nav" class="pull-left">
             
              <ul id="main-menu" class="clearfix">
                <li class="current-menu-item"></li>
                <li class="current-menu-item">
                        <a href="principal.html"><img src="torn/btn1.png" width="200" height="59" alt=""/></a></li>
                    <li>
                        <a href="#"><img src="torn/btn2.png" width="200" height="59" alt=""/></a></li>
                    <li>
                        <a href="#"><img src="torn/btn3.png" width="200" height="59" alt=""/></a></li>
                    <li>
                        <a href="#"><img src="torn/btn4.png" width="200" height="59" alt=""/></a> </li>
                    <li><a href="#"><img src="torn/btn5.png" width="200" height="59" alt=""/></a></li>
                    
              </ul>
                <!-- main-menu -->

                <i class='fa fa-align-justify'></i>
                
                <div class="mobile-menu-wrapper">
                    <ul id="mobile-menu">
                        <li><a href="#"><img src="torn/btn1.png" width="200" height="59" alt=""/></a></li>
                        <li><a href="#"><img src="torn/btn2.png" width="200" height="59" alt=""/></a></li>
                        <li><a href="#"><img src="torn/btn3.png" width="200" height="59" alt=""/></a></li>
                        <li><a href="#"><img src="torn/btn4.png" width="200" height="59" alt=""/></a></li>
                        <li><a href="#"><img src="torn/btn5.png" width="200" height="59" alt=""/></a></li>
                        
                    </ul>
                    <!-- mobile-menu -->
                </div>
                <!-- mobile-menu-wrapper -->

            </nav>
            <!-- main-nav -->

            
          <!--search-box-->

        </div>
        <!-- wrapper -->
        
    </div>
    <!-- punica-header-bottom -->

</div>
<!-- punica-header -->

<div id="punica-main-content">
    
    <div class="wrapper clearfix">

        <div class="center-col">
            
            <center>
              <!-- breadcrumb -->
            </center>
            <div class="elements-box">

                <div class="row"><!-- col-md-4 --><!-- col-md-8 -->
                 <div id="contact-box">
                <div class="widget-area-3">
                  <div class="widget punica-featured-news-widget">
                    <h2 class="widget-title clearfix">Noticias de la Semana</h2>
                    <!-- punica-featured-news-slider -->
                    <div class="masonry-wrapper">
                      <ul class="punica-entry-list clearfix">
                        <li class="element">
                          <article class="entry-item">
                            <div class="entry-thumb hover-effect"> <a href="#"><img src="noticias/001.jpg" alt="" /></a> </div>
                            <!-- entry-thumb -->
                            <div class="entry-content">
                              <header> <span class="entry-date">Noviembre 12, 2015</span> </header>
                              <h6 class="entry-title"><a href="#">Arranca la 7ma fecha</a></h6>
                              <p>Todo preparado y armado para el arranque de la 7ma fecha del torneo de Bunesliga A, los equipos estan listos, las canchas y arbitros también, solo falta definir los horarios.</p>
                               </div>
                            <!-- entry-content -->
                          </article>
                          <!-- entry-item -->
                        </li>
                        <!-- element -->
                        <li class="element">
                          <article class="entry-item">
                            <div class="entry-thumb hover-effect"> <a href="#"><img src="noticias/002.jpg" alt="" /></a> </div>
                            <!-- entry-thumb -->
                            <div class="entry-content">
                              <header> <span class="entry-date">Noviembre 12, 2015</span> </header>
                              <h6 class="entry-title"><a href="#">campeon de punta a punta.</a></h6>
                              <p>La Amistad FC se consagro nuevamente campeon del torneo Premier Leage A con una amplia diferencia sobre sus contrincantes....</p>
                               </div>
                            <!-- entry-content -->
                          </article>
                          <!-- entry-item -->
                        </li>
                        <!-- element -->
                        <li class="element">
                          <article class="entry-item">
                            <div class="entry-thumb hover-effect"> <a href="#"><img src="noticias/003.jpg" alt="" /></a> </div>
                            <!-- entry-thumb -->
                            <div class="entry-content">
                              <header> <span class="entry-date">Noviembre 12, 2015</span> </header>
                              <h6 class="entry-title"><a href="#">Al mal tiempo..</a></h6>
                              <p>El Servicio Meteorológico Nacional anunció que esta noche,  seguirán las lluvias y tormentas. A pesar de las inclemencias que puedan sucitar, las canchas escurren perfectamente y seguro podremos jugar durante el fin de semana..</p>
                               </div>
                            <!-- entry-content -->
                          </article>
                          <!-- entry-item -->
                        </li>
                        <!-- element -->
                        <li class="element">
                          <article class="entry-item">
                            <div class="entry-thumb hover-effect"> <a href="#"><img src="noticias/004.jpg" alt="" /></a> </div>
                            <!-- entry-thumb -->
                            <div class="entry-content">
                              <header> <span class="entry-date">Noviembre 12, 2015</span> </header>
                              <h6 class="entry-title"><a href="#">Sigue enfocado</a></h6>
                              <p>Racing se entrenó este jueves por la mañana pensando en el partido ante Estudiantes por la Liguilla pre-Libertadores. </p>
                               </div>
                            <!-- entry-content -->
                          </article>
                          <!-- entry-item -->
                        </li>
                        <!-- element -->
                        <!-- element -->
                      </ul>
                      <!-- punica-entry-list -->
                      <div class="pagination clearfix">
                        <ul class="page-numbers clearfix">
                          <li><a href="#" class="prev page-numbers"><i class="fa fa-caret-left"></i></a></li>
                          <li><a href="#" class="page-numbers">1</a></li>
                          <li><span class="page-numbers current">2</span></li>
                          <li><span class="page-numbers dots">…</span></li>
                          <li><a href="#" class="page-numbers">8</a></li>
                          <li><a class="next page-numbers" href="#"><i class="fa fa-caret-right"></i></a></li>
                        </ul>
                        <!--page-numbers-->
                      </div>
                      <!-- pagination -->
                    </div>
                    <!-- older-post -->
                  </div>
                  <!-- punica-featured-news-widget -->
                  <!-- punica-entry-list-2-widget -->
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div id="response"></div>
            </div></div>
                <p>&nbsp;</p>
                <center><!-- row --></center>
                <!-- row --><!-- row --><!-- row -->

                <div class="row"></div>
                <!-- row --><!-- row --><!-- row --><!-- row --><!-- row --><!-- row -->

            </div>
            <!-- elements-box -->

        </div>
        <!-- center-col -->

        <div class="sidebar right-sidebar widget-area-5">
            
            <div class="widget widget_nav_menu">
                <h2 class="widget-title">MENU</h2>
                <div class="menu-all-pages-container">
                  <ul class="menu" id="menu-all-pages">
                    </span>
                  <br><br><br>
                  </span>
                  </ul>
              </div>
            </div>
            <!-- widget_nav_menu --><!-- punica-socials-link-widget --><!-- widget --><!-- punica-news-letter-widget --><!-- punica-adv-widget --><!-- punica-twitter-widget --><!-- punica-poll-widget -->

        </div>
        <!-- right-sidebar -->

        <div class="clear"></div>
        <!-- widget-area-6 -->

    </div>
    <!-- wrapper -->

</div>
<!-- punica-main-content -->

<footer class="punica-footer"><!-- punica-footer-top -->

    <div class="punica-footer-bottom">
        
        <div class="wrapper"><!-- punica-left-col --><!-- punica-right-col -->

            <div class="punica-end clearfix">
                <ul class="social-links clearfix">
                    <li><span>Seguinos a través de:</span></li>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                </ul>
                <!-- social-links -->
                <p id="copyright">Copyright &copy; 2015 . TheFutbolCompany.com - Designed By  <a href="http://www.navcoder.net" target="_blank">Navcoder.net</a></p>
            </div>
            
        </div>
        <!-- wrapper -->

    </div>
    <!-- punica-footer-bottom -->

</footer>
<!-- punica-footer -->

    
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/retina.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/colorswitch.js"></script>
    <script src="js/custom.js" charset="utf-8"></script>
    
</body>

</html>
